{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row align-items-center">
        <div class="col-6 text-center">
            <h3>Pas encore membre?</h3>
            <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Inscrivez-vous maintenant!</a>
        </div>
        <div class="col-6 text-center">
            <h3>Connectez-vous</h3>
            <p>{{ message }}</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" >Se connecter</button>
            </form>

        </div>

    </div>

</div>

{% endblock content %}