{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 text-center">
            <h2>Inscription</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" >S’inscrire</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}