{% load static %}
{% load post_extra %}
<div class="d-flex bd-highlight border-bottom align-items-center"  style="height: 60px;">
    <div class="div-img center-center rounded-circle overflow-hidden m-2" style="width : 45px; height : 45px;">
        {% if element.user.profil_photo%}
        <img class="w-100 h-auto" src="{{ element.user.profil_photo.url }}" style="">
        {% else %}
        <img class="w-100 h-auto" src="{% static 'images/default_profile.png'%}" style="">
        {% endif %}
    </div>
    {% if element|model_type == 'Ticket' %}
        <p class="my-0 p-2 bd-highlight">{%get_poster_display element.user%} demandé une critique</p>
    {% elif element|model_type == 'Review' %}
        <p class="my-0 p-2 bd-highlight">{%get_poster_display element.user%} publié une critique</p>
    {% endif %}
    <p class="my-0 ms-auto p-2 bd-highlight"><small class="text-muted">{{ element.time_created|get_posted_at_display}}</small> </p>
</div>