{% load static %}
{% load post_extra %}
<div class="card text-dark bg-light mb-3">
    {% include "post/partials/header_card.html" with element=ticket %}
    <div class="row g-0 align-items-center border-bottom">
        <div class="col-md-5 m-1 p-1">
            {% if ticket.image.image %}
                <img src="{{ticket.image.image.url}}" class="card-img-left rounded-start" style ="max-width:350px" alt="image du ticket">
            {% else %}
                <img src="{% static 'images/livre_default.jpg'%}"  class="card-img-left rounded-start" style ="max-width: 250px; "  alt="image par default du ticket">
            {% endif %}
        </div>
        <div class="col-md-6 text-center w-80" >
            <div class="card-body">
                <h5 class="card-title">{{ticket.title}}</h5>
                <p class="card-text overflow-auto">{{ticket.description}}</p>
            </div>
        </div>
    </div>
    <div class="d-flex bd-highlight">
        {% if user == ticket.user%}
            <p class="my-0 p-2 bd-highlight">
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-secondary m-2 ">Modifier</a>
            </p>
        {% endif %}
        {% if not ticket.review %}
            <p class="my-0 ms-auto p-2 bd-highlight">
                <a href="{% url 'review_ticket' ticket.id %}" class="btn btn-secondary m-2 ">Créer la critique</a>
            </p>
        {% endif %}
    </div>
</div>