{% load post_extra %}
<div class="card text-dark bg-light mb-3" style=style="max-width: 540px;">
    <div class="d-flex bd-highlight border-bottom ">
        <p class="my-0 p-2 bd-highlight">{%get_poster_display ticket.user%} publié un ticket</p>
        <p class="my-0 ms-auto p-2 bd-highlight"><small class="text-muted">{{ ticket.time_created|get_posted_at_display}}</small> </p>
    </div>
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ticket.image.image.url}}" class="card-img-left rounded-start" style = "max-width: 350px" alt="...">
        </div>
        <div class="col-md-8 text-center w-80" >
            <div class="card-body">
                <h5 class="card-title">{{ticket.title}}</h5>
                <p class="card-text">{{ticket.description}}</p>
                <a href="{% url 'view_ticket' ticket.id %}" class="stretched-link"></a>
            </div>
        </div>
    </div>    
</div>