{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 text-center">
            <h2>Voulez-vous arrêter de suivre {{user_follow}} ?</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <form method="post">
                {{ delete_form }}
                {% csrf_token %}
                <a class="btn btn-secondary" href="{% url 'follower_page' %}" role="button">Annuler</a>
                <button type="submit" class="btn btn-primary m-2"  >Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}