{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2 class="text-center">Créer une demande de critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% for form in forms %}
            {% csrf_token %}
            {{form|cripsy}}
        {% endfor %}
        <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Annuler</a>
        <button class="btn btn-secondary" type="submit">Envoyer</button>
    </form>
</div>
{% endblock content %}