{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% include 'post/partials/review.html' %}
        <h2>Modifier la critique</h2>
        {% include 'post/partials/review.html' with review=review%}
        <div class="container">
            <div class="row align-items-center ">
                <div class="text-center">
                    <form method="post">
                        {{ edit_form|crispy }}
                        {% csrf_token %}
                        <button type="submit" >Sauvegarder</button>
                    </form>
                    <h3>Supprimer le ticket: {{review.ticket.title}} </h3>
                    <form method="post">
                        {{ delete_form }}
                        {% csrf_token %}
                        <button type="submit" >Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>        
{% endblock content %}