{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h3>Modifier la critique N°{{review.id}} </h3>
        {% include 'post/partials/review.html' %}
        <form method="post">
            {{ edit_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" >Sauvegarder</button>
        </form>
        <hr>
        <h3>Supprimer la critique N°{{review.id}}</h3>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Supprimer</button>
        </form>
    </div>        
{% endblock content %}