{% extends 'base.html' %}
{% block content %}
    <h2>Tickets</h2>
    <div class="grid-container">
        {% for ticket in tickets %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="card-header text-start">
                    <p class="col-md-4 text-start">Vous avez demandé une critique</p>
                    <p class="col-md-4 text-end text-muted">publier le {{ticket.time_created}}</p>
                </div>
            
              <div class="col-md-4">
                <img src="{{ticket.image.image.url}}" class="card-img-left rounded-start" style = "max-width: 350px" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ticket.title}}</h5>
                  <p class="card-text">{{ticket.description}}</p>
                  <p class="card-text"><small class="text-muted"> publier le {{ticket.time_created}} </small></p>
                  <a href="{% url 'view_ticket' ticket.id %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Critiques</h2>
    <div class="grid-container">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-header text-start">
                <p class="col-md-4 text-start">Vous avez publier une critique</p>
                <p class="col-md-4 text-end text-muted">publier le {{review.time_created}}</p>
              </div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{review.ticket.image.image.url}}" class="card-img-left rounded-start" style = "max-width: 350px" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{review.headline}}</h5>
                  <h4>{{review.ticket.title}} </h4>
                  <p class="card-text">{{review.body}}</p>
                  <a href="{% url 'view_review' review.id %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}