{% extends 'base.html' %}
{% load post_extra %}
{% block content %}
    <div class="container text-center">
        <h2 class="mb-5">Vos publications</h2>
        <ul>
            <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                  Customers
                </a>
             </li>

        </ul>
        
        {% for post in posts %}
            <div class="row">
                <div class="col-12">
                    {% if post|model_type == 'Ticket' %}
                        {% include "post/partials/ticket.html" with ticket=post %}
                    {% elif post|model_type == 'Review' %}
                        {% include "post/partials/review.html" with review=post %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}